body {
  font-family: 'Noto Sans', serif;
  color: #71f525;
  background-color: #000000;
}
.log, .log th, .log td {
  border: 1px solid #ddd;
  border-collapse: collapse;
  text-align: center;
  padding: 5px;
}
.log {
  width: 100%;
}
.log tr:hover {
  background-color: #202020;
}
.log th {
  background-color: #202020;
}
